<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <style>
        table,th,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>This is form Django</h1>
            <!-- G Developer -->
    <p>This is real world Django....</p>

    <table>
        <thead>
            <tr>
                <th>S.no</th>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>mar</td>
                <td>vd</td>
                <td>vdx</td>
            </tr>
        </tbody>
    </table>
</body>
</html>